.preview {
    width: 100%;
    height: 90%;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.preview img {
    width: 70%;
}

.info {
    width: 100%;
    height: 50%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info .text {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.info .text span {
    color: #61840d;
    font-weight: bold;
}