<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Заказы</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/history.css">
</head>
<body>

<header>
  <div class="logo">
    <a th:href="@{/hello}">
      <img src="images/logo.png">
    </a>
  </div>
  <div class="menu">
    <a th:href="@{/hello}">Главная</a>
    <a th:href="@{/menu}">Меню</a>
    <a th:href="@{/aboutUs}">О нас</a>
  </div>
  <div class="log">
    <a th:href="@{/profile}" th:text="${person.getUsername()}"></a>
    <a th:href="@{/basket}">
      <img src="images/basket.png">
    </a>
  </div>
</header>

<div class="baskets">
  <div th:each="basket : ${baskets}">
    <div th:if="${basket.is_completed()}">
      <a th:href="@{/profile/history/{id}(id=${basket.getId()})}" th:text="'Заказ №' + ${basket.getId()}"></a>
    </div>
  </div>
</div>
</body>
</html>